body, html {
    height: 100%;
}

/* =============== Background img ============= */
.bg {
    background: url(../img/banner-with-overlay.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%
}

/* =============== Login Page ============= */

#login {
    padding-top: 45px;
}

/* Logo */

#logo {
    margin-bottom: 25px;
}

img {
    height: 34px;
}

/* form details */

.login-form {
    background-color: white;
    width: 450px;
    height: 490px;
    padding: 40px;
    border: solid white 1px;
    border-radius: 8px;
}

.heading h3 {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 34px;
    color: #6255a5;
    text-align: center;
    margin-top: 0;
    margin-bottom: 17px;
}

.heading p {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    max-width: 100%;
    color: #333333;
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px;
}

.label-text {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #333333;
    margin-top: 4px;
    margin-bottom: 9px;
}

#forgot a {
    color: #6255a5;
}

#forgot {
    float: right;
}

#eye-img {
    height: 30px;
    padding-bottom: 14px;
}

.input-field {
    border: 1px solid #6255a5;
    width: 370px;
    height: 42px;
    border-radius: 3px;
    margin-bottom: 26px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
}

.login-button {
    background-color: #6255a5;
    border: 1px solid #6255a5;
    border-radius: 3px;
    color: #fff;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 18px;
}

.login-button:hover {
    background-color: #6255a5;
    border: 1px solid #6255a5;
}

.field-icon {
    float: right;
    font-size: 22px;
    margin-right: 8px;
    margin-top: -60px;
    color: rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
}
  
#bottom p {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #333333;
    text-align: center;
    margin: 0;

}

#bottom a {
    color: #6255a5;
}



@media only screen and (max-width: 600px) {
    
    #login {
        padding-top: 45px;
    }
    #logo {
        margin-bottom: 20px;
    }  
    img {
        height: 32px;
    }
    .login-button {
        width: 320px;
        height: 30px;
        font-size: 14px;
        line-height: 18px;
    }
    .input-field {
        width: 320px;
        height: 30px;
        font-size: 14px;
    }
    .login-form {
        width: 400px;
        height: 470px;
    }
    .field-icon {
        font-size: 20px;
        margin-right: 5px;
        margin-top: -52px;
    }
    .bg {
        height: 120%;
    }

}


@media only screen and (max-width: 420px) {

    #login {
        padding-top: 45px;
    }
    #logo {
        margin-bottom: 18px;
    }    
    img {
        height: 30px;
    }
    .login-button {
        width: 220px;
        height: 30px;
    }
    .input-field {
        width: 220px;
        height: 30px;
        font-size: 13px;
    }
    .login-form {
        width: 300px;
        height: 485px;
    }
    .field-icon {
        font-size: 20px;
        margin-right: 3px;
        margin-top: -52px;
    }
    .bg {
        height: 120%;
    }

}

@media only screen and (max-width: 360px) {

    #login {
        padding-top: 40px;
    }
    #logo {
        margin-bottom: 18px;
    }
    img {
        height: 28px;
    }
}

@media only screen and (max-width: 320px) {
    
    #login {
        padding-top: 20px;
    }
}